extends layout

block content
  header
    nav
      ul
        li One Page CMS
      
      ul
        li
          | Logged in as
          a(href="#") Alex Moore

  h1 One Page CMS
  h2 Manage a page of content in a text editor. Retrieve the content from anywhere as markdown.

  #edit


